* {
    background-color: black;
    color: white;
    font-size: 25px;
}

h1 {
    background-color: purple;
    color: black;
    text-align: center;
}

.indice {
    text-align: center;
}

.html {
    background-color: orangered;
}

.css {
    background-color: blue;
}

.paragrafo {
    background-color: red;
    color: black;
    padding: 5px;
}

#tituloUnico {
    background-color: gray;
    color: gold;
    padding: 10px;
}
 .cor1 {
    background-color: blue;
    color: black;
 }

 .cor2 {
    background-color: green;
    color: black;
 }

 .cor3 {
    background-color: red;
    color: black;
 }

.cor5 {
    background-color: #fff;
    color: black;
}
 