* {
    background-color: black;
    color: white;
    font-size: 25px;
}

h1 {
    background-color: purple;
    color: black;
    text-align: center;
}

.indice {
    text-align: center;
}

.html {
    background-color: orangered;
}

.css {
    background-color: blue;
}